@import "tailwindcss";

@theme{
  --color-sidebar-bg: #F2E0D0;       /* фон сайдбара */
  --color-hover-bg: #F2B28D;          /* hover на ссылках */
  --color-text-main: #592A0E;         /* основной текст */
  --color-active-accent: #A6411C;     /* активная ссылка / акцент */
  --color-secondary-accent: #D97D5B;  /* второстепенные элементы */
}
